@using TeamTaskboard.Web.Helpers
@using TeamTaskboard.Web.Areas.Administration.ViewModels
@{
    ViewBag.Title = "Manage Tasks";
}

<h2>@ViewBag.Title</h2>
<hr />

@(Html.CustomKendoGrid<TaskViewModel>("teams-grid", "Teams", m => m.TeamTaskId, false))