@model TeamTaskboard.Models.Team

@using (Html.BeginForm("CreateTeam", "Team", null, FormMethod.Post, new { @class="form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name", new { @class="control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class="form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Description, "Name", new { @class = "control-label" })
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="Submit" value="Create" class="btn btn-primary" />
    </div>
}
