@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Team", "Index", "Team")</li>
    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
}
