
@{
    ViewBag.Title = "NotFound";
}

<div class="row">
    <header class="jumbotron">
        <h2>404: Not Found</h2>
        <p class="lead">The resource you are looking either does not exist or it was moved.</p>
    </header>
</div>


