@using TeamTaskboard.Web.Areas.Administration.ViewModels
@{
    ViewBag.Title = "Manage Teams";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<TeamViewModel>()
    .Name("team-grid")
    .Pageable()
    .Sortable()
    .ToolBar(tb => tb.Create()) 
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .DataSource(data => data.Ajax()
            .Model(m => 
                {
                    m.Id(team => team.TeamId);
                    m.Field(team => team.TeamId).Editable(false);
                    m.Field(team => team.MembersCount).Editable(false);
                    m.Field(team => team.ProjectsCount).Editable(false);
                })
            .Read(r => r.Action("Read", "Teams"))
            .Create(cr => cr.Action("Create", "Teams")))
    )