
@{
    ViewBag.Title = "Team Info";
}

<header class="row">
    <div class="jumbotron">
        <h1>Not part of a team?</h1>
        <p>
            @Ajax.ActionLink("Join a team", "JoinTeam", "Team", null,
                new AjaxOptions
                {
                    UpdateTargetId = "team-update",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-default" })
            &nbsp; or &nbsp;
            @Ajax.ActionLink("Create a team", "CreateTeam", "Team", null,
                new AjaxOptions
                {
                    UpdateTargetId = "team-update",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "btn btn-default" })
        </p>
    </div>
</header>

<section class="row" id="team-update"></section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
}
