@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 Not Found";
}

<div class="jumbotron text-center">
    <h1 class="text-danger"><strong>404:</strong> Not Found</h1>
    <p class="lead text-danger">The resource you are looking either does not exist or it was moved.</p>
</div>
