@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "500 Server Error";
}

<div class="jumbotron text-center">
    <h1 class="text-danger"><strong>500:</strong> Server Error</h1>
    <p class="lead text-danger">Oops, something went wrong with the server. Try later.</p>
</div>
