@using TeamTaskboard.Web.ViewModels.Task
@using TeamTaskboard.Web.ViewModels.Project

@helper ProjectsPanel(IEnumerable<ProjectViewModel> projects)
{
    <div class="panel-body">
        @if (projects.Count() > 0)
        {
            foreach (var project in projects)
            {
                <p>
                    <a href="/Projects/Details/@project.ProjectId">@project.Name</a>
                </p>
            }
        }
        else
        {
            <p>Currently there are no projects.</p>
        }
    </div>
}

@helper TasksPanel(IEnumerable<TaskViewModel> tasks)
{

    <div class="panel-body">
        @if (tasks.Count() == 0)
        {
            <p>Currently there are no tasks.</p>
        }
        else
        {
            foreach (var task in tasks)
            {
                <p>
                    <a href="/Tasks/Details/@task.TaskId">@task.Name</a>
                </p>
            }
        }        
    </div>
}