@{
    ViewBag.Title = "Home Page";
}

<header class="row">
    <div class="jumbotron">
        <h2>Team Taskboard</h2>
        <p class="lead">An easy way to manage your team's projects and tasks.</p>
    </div>
</header>

<section class="row index-icons">
    <article class="col-md-4">
        <div class="text-center well">
            <span class="glyphicon glyphicon-user"></span>
            <p>We have a total of @ViewBag.UsersCount registered users</p>
        </div>
    </article>
    <article class="col-md-4">
        <div class="text-center well">
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-user"></span>
            <p>which have formed @ViewBag.TeamsCount teams</p>
        </div>
    </article>
    <article class="col-md-4">
        <div class="text-center well">
            <span class="glyphicon glyphicon-paperclip"></span>
            <p>that work on @ViewBag.ProjectsCount different projects.</p>
        </div>
    </article>
</section>

<section class="row">
    <article class="col-md-offset-4 col-md-4">
        <img src="@Url.Action("GetTasksChart")" alt="Tasks distrubution" title="Tasks distrubution" />
    </article>
</section>