@{
    ViewBag.Title = "Home Page";
}

<header class="row">
    <div class="jumbotron">
        <h2>Team Taskboard</h2>
        <p class="lead">An easy way to manage your team's projects and tasks.</p>
    </div>
</header>

@Html.Action("GetStatistics")
