body {
    padding-top: 65px;
    padding-bottom: 35px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1.panel-heading {
    margin-top: 0;
}

.sticky-footer {
  color: #999;
  background-color: #333;
  position: fixed;
  bottom: 0;
  height: 35px;
  width: 100%;
  line-height: 35px;
}
