body {
    padding-top: 50px;
    padding-bottom: 35px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sticky-footer {
  color: #999;
  background-color: #333;
  position: fixed;
  bottom: 0;
  height: 35px;
  width: 100%;
  line-height: 35px;
}