
@{
    ViewBag.Title = "Home";
}

<header class="row">
    <div class="jumbotron">
        <h2>Team Taskboard Administration</h2>
        <p class="lead">Manage all team, projects and tasks.</p>
    </div>
</header>

