@{
    ViewBag.Title = "Home Page";
}

<header class="jumbotron">
    <h1>Team Taskboard</h1>
    <h2>Organize team tasks and improve performance.</h2>
    <p class="lead">To get started you must register a user and from within your profile page you can choose to create a new team or join an existing one.</p>
</header>